extends layout

block content
  h1= title

  ul.messages 
    for message in messages 
      li.message.li(id=message._id) 
        if (session)
          .message.user
            a(href="/user/" + message.user._id) #{message.user.full_name}
        .message.info 
            p= message.message
            if (session)
              p= message.formatted_date