extends layout

block content 
    .login 
        h1.login #{title}

        form(class='login form' method='POST' action='')
            div.form-content
                label(for="email") Email: 
                input#email.form-control(type='text' name='email'
                placeholder='Your Email' required='true'
                value=(undefined === user ? '' : user.email))
            div.form-content
                label(for="password") Password: 
                input#password.form-control(type='password' name='password' 
                placeholder='Your Password' required='true')
               
            if passportError 
                p= passportError
            
            button.form.btn(type='submit') Submit
        
        .outer
            p.confirm Not registered yet?
            a(href='/register') Register Here
            